@media only screen and (max-width: 600px) {
    .container {
        background-color: #f4f7f6;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; /* Alterado para começar no início da página */
        padding: 10px; /* Adicionado espaço no topo */
    }
    
    .header {
        background-color: #2EB6C8;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .logo {
        width: 120px;
    }
    
    .perfil-button {
        position: absolute;
        top: 2;
        margin-bottom: 130px;
        right: 0;
        margin-top: 10px;
        background: transparent;
        cursor: pointer;
      }
    
    .perfil-icon {
        width: 35px;
    }
    
    .content {

        background-color: #fff;
        border-radius: 10px;
        padding: 15px;
        margin-top: 25%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .content h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="email"],
    button {
        width: 95%;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }
    
    button {
        background-color: #2EB6C8;
        color: #fff;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #00556E;
    }
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: hwb(352 66% 17%);
        padding: 10px;
        border-radius: 3px;
    }
      @media (min-width: 768px) {
        .header {
          flex-direction: row;
        }
      }
}